* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.Html {
    width: 100%;
    height: 100%;
}

.Body {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Cabecalho {
    background-color: #353535;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
    gap: 30px;
}

.CabecalhoMenuItemAsterisco {
    background-color: #353535;
    border: none;
    flex-wrap: wrap;
}

.CabecalhoMenuItemAsterisco:hover {
    background-color: #FFE24D;
}

.AsteriscoImagem {
    width: 100%;
    flex-wrap: wrap;
}

.CabecalhoMenu {
    display: flex;
    gap: 50px;
}

.CabecalhoMenuItemPlayList {
    background-color: #353535;
    color: whitesmoke;
    border: none;
    width: 100%;
}

.PlayListImagem {
    width: 100%;

}

.CabecalhoMenuItemPlayList:hover {
    background-color: #FFE24D;
}

.CabecalhoMenuItemContact {
    background-color: #353535;
    color: whitesmoke;
    border: none;
    width: 100%;
}

.ContactImagem {
    width: 100%;
}

.CabecalhoMenuItemContact:hover {
    background-color: #FFE24D;
}

.Main {
    margin: auto;
    padding: 55px;
    max-width: 1300px;
}

.Pai {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.Grid1 {
    grid-row: 1/3;
}

.ImgGrid1 {
    width: 100%;
}

.ImgGrid2 {
    width: 100%;
    display: block;
}

.ImgGrid3 {
    width: 100%;
}

.Grid3 {

}

.Rodape {
    background-color: #FFE24D;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}


.RodapeImagem {
    margin: auto;
    display: block;
    width: 100%;
    grid-column-start: 2;
    max-width: 400px;
}

@media only screen and (min-width: 365px) and (max-width: 700px) {
    .Pai {
        display: grid;
        grid-template-columns: auto;
        margin: 0 auto;
    }
    
    .Grid1 {
        grid-row: 1/1;
    }

    .ImgGrid1 {
        display: block;
    }

    .Cabecalho {
        padding-left: 00px;
        padding-right: 30px;
    }

    .Main {
        padding: 30px;
    }

    .CabecalhoMenu {
        gap: 20px;
    }

    .RodapeImagem {
        min-width: 310px;
    }


}