* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: rgb(255, 255, 255);
}

.Cabecalho {
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    flex-wrap: wrap;
}

.CabecalhoImagem {
    width: 77px;
}

.CabecalhoMenu {
    display: flex;
}

.CabecalhoMenuItemHome {
    background-color: #424242;
    color: whitesmoke;
    height: 75px;
    width: 170px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 18px;
    border: none;
}

.HomeImagem {
padding-bottom: 10px;
}

.CabecalhoMenuItemHome:hover {
    background-color: #FFE24D;
    color: black;
}

.CabecalhoMenuItemPlayList {
    background-color: #5A5A5A;
    color: whitesmoke;
    height: 75px;
    width: 170px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 18px;
    border: none;
}

.PlayListImagem {
padding-bottom: 10px;
}

.CabecalhoMenuItemPlayList:hover {
    background-color: #FFE24D;
    color: black;
}

.CabecalhoMenuItemContact {
    background-color: #7D7D7D;
    color: whitesmoke;
    height: 75px;
    width: 170px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 18px;
    border: none;
}

.ContactImagem {
    padding-bottom: 10px;
}

.CabecalhoMenuItemContact:hover {
    background-color: #FFE24D;
    color: black;
}

.Conteudo {
    margin-bottom: 80px;
    padding-top: 90px;
}

.ConteudoPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.ConteudoPrincipalEscrito {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.ConteudoPrincipalEscritoTitulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}

.ConteudoPrincipalEscritoSubtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(59, 59, 59);
    padding-top: 20px ;
}

.ConteudoPrincipalEscritoBotao {
    background-color: rgb(37, 35, 35);
    color: white;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 25px;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.50);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.ConteudoPrincipalEscritoBotao:hover {
    background-color: rgb(0, 0, 0);
}

.ConteudoPrincipalImagem {
    height: 400px;
    border: 3px solid black
}

.ConteudoSecundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 100px;    
}

.ConteudoSecundarioTitulo {
    border-top: 3px solid black;
    padding-top: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.ConteudoSecundarioParagrafo {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.Rodape {
    background-color: #FFE24D;
    padding: 32px;

}

.RodapeImagem {
    display: block;
    margin: 0 auto;
    height: 75px;
}