* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.Body {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.Cabecalho {
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
    flex-wrap: wrap;
}

.CabecalhoMenuItemAsterisco {
    background-color: #353535;
    height: 80px;
    width: 200px;
    border: none;
}

.CabecalhoMenuItemAsterisco:hover {
    background-color: #FFE24D;
}

.AsteriscoImagem {
    width: 100%;
}

.CabecalhoMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.CabecalhoMenuItemPlayList {
    background-color: #353535;
    color: whitesmoke;
    height: 80px;
    width: 200px;
    border: none;
}

.PlayListImagem {
    width: 100%;
}

.CabecalhoMenuItemPlayList:hover {
    background-color: #FFE24D;
}

.CabecalhoMenuItemContact {
    background-color: #353535;
    color: whitesmoke;
    height: 80px;
    width: 200px;
    border: none;
}

.ContactImagem {
    width: 100%;
}

.CabecalhoMenuItemContact:hover {
    background-color: #FFE24D;
}

.Main {
    margin: auto;
    padding: 55px;

    max-width: 1300px;
}

.Pai {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.Grid1 {
    grid-row: 1/3;
}

.ImgGrid1 {
    width: 100%;
}

.ImgGrid2 {
    width: 100%;
    display: block;
}

.ImgGrid3 {
    width: 100%;
}

.Grid2 {

}

.Grid3 {

}

.Rodape {
    background-color: #FFE24D;
    width: 100%;
    padding-bottom: 17px;
}


.RodapeImagem {
       margin: auto;
       display: block;
       padding-top: 15px;
}